{% extends 'base.html' %}
{% block title %}Main Page{% endblock %}
{% block content %}
	<div class="container">
		<div class="shadow p-3 mb-5 mt-5 bg-body rounded">
			<h2>Stay up to date with your local fishing stocked reports</br></br></h2>
			<h6>Go to the <a href="/subscribe" >Subscribe</a> tab and enter your information, any newly stocked lakes will be sent automatically to the phone number you provided via SMS!</h5>
			<div class="shadow p-3 mt-5 bg-body rounded">
			<img src="/static/phone_stock.jpg" style='height: 100%; width: 100%; object-fit: scale-down'/>
			</div>	
		</div>	
	</div>
{% endblock %}